h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
}
.text-typing {
  text-align: center;
  font-size: 46px;
  margin-top: 100px;
}

#typed {
  display: inline;
  font-weight: 900;
  font-size: 80px;
  color: #ff214f;
}

.main_back {
  width: 100%;
  height: 100vh;
  float: left;
  background-image: url("../img/intro-bg3.jpg");
  background-position: center;
  background-size: cover;
  
}
.navbar {
  width: 100%;
  height: 70px;
  float: left;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.navbar2{
  float: left;
  background: transparent;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  box-shadow: 0px 3px 4.7px 0.3px rgb(0 0 0 / 24%);
  transition: all 0.3s ease-out;
}
.navlogo {
  width: 25%;
  height: 70px;
  float: left;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 25px;
  padding-left: 40px;
}

.navlogo a {
  text-decoration: none;
  color: #bd1c3d;
}
.bot{
  height: 46vh !important;
}

.navmenu {
  width: 75%;
  height: 70px;
  float: left;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  margin-right: 30px;
}
.navmenu ul li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
  font-size: 18px;
}

.burger {
  color: #fff;
  display: none;
}

 .mobile_menu{
  padding: 0;
}
.offcanvas-header{
  font-size: 20px;

  font-family: 'Raleway',sans-serif;
}


.navmenu a {
  text-decoration: none;
  color: #000;
  letter-spacing: 1px;
}

.navmenu .mobile_menu a {
  text-decoration: none;
  color: #f9f9f9;
  letter-spacing: 1px;
  color: #000;
}
.navmenu .mobile_menu li {
  list-style-type: none;
  padding: 10px;
  
  
}

.navmenu .mobile_menu li a{
  margin-left: 30px;
  color: #777777;
  
}
.home_middle {
  width: 100%;
  height: 650px;
  float: left;
 
  box-sizing: border-box;
}
.home_middle_write {
  width: 100%;
  height: 400px;
  float: left;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_middle_text {
  width: 100%;
  height: 250px;
  float: left;
 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.jackson {
  width: 100%;
  height: 50px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
 

  margin-top: 40px;
}

/* section2 start */

.section2_text {
  width: 100%;
  height: 150px;
  float: left;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
 
  text-align: center;
}
.section2_text h2 {
  font-family: "Raleway", sans-serif;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.oval {
  width: 150px;
  height: 5px;
  float: left;
  border: 1px solid #ff214f;
  border-radius: 30%;
  margin-bottom: 20px;
}

.section2_p p {
  color: rgba(0, 0, 0, 0);
}

.botton1 {
  background: #ff214f;
  padding: 10px 25px;
}

/* section2 end */

/* section3 start */

.kvadrat {
  z-index: 2;
  top: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: #ff214f;
  z-index: -1;
  transition: 0.2s ease-out;
  transform: rotate(45deg);
  border-radius: 5px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service_box {
  z-index: 1;
  width: 100%;
  height: 350px;
  float: left;
  background: #ffffff;
  border: 1px solid #ddd;
  position: relative;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
}
.icon {
  transform: rotate(320deg);
  color: white;
}

.p_1 {
  margin: 10px 10px 0 10px;
}

/* section3 end */

/* section4 start */



.single {
  width: 400px;
  height: 420px;
  text-align: center;
  line-height: 200px;

 
  margin-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.3s;
  border-radius: 6px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 2px solid #dddd;
  border-radius: 7px;
  
}


.ph1 {
  position: relative;
  width: 400px;
  height: 360px;
  float: left;
  background-color: blue;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ph1 img {
  width: 400px;
  height: 360px;
  object-fit: cover;
  z-index: 2;
  position: relative;
}
.e_btn {
  width: 400px;
  height: 60px;
  float: left;
  background-color: #ff214f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
}

.e_btn p {
  padding-top: 10px;
}


.mycld {
  margin: 0 auto;
  
}


.control{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  color: grey;
  background: transparent;

}
.control1{
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin: 10px;
  border: none;
  color: grey;
  background: transparent;
}




.active_bg{
  background-color: #FF214F ;
  color: #fff;
}



.zoom{

  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 999;
padding: 50px;
margin-top:-50px;
background-color: #FF214F;
border-radius:5%;
display:none;
transition: transform .2s;
width: 100px;
height: 100px;
margin: 0 auto;

opacity: 0.8;


}
.ph1:hover .zoom{display:block;}
.zoom:hover{transform:rotate(50deg);};



/* section4 end */


/* section5 start */

.swipe_tekst2{
  margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 600;
    font-size: 18px;
}

.desg{
  font-size: 14px;
    margin: 0 0 10px;
    color: #777777;
}

.kvadrat2 {
  z-index: 2;
  top: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  background: #ff214f;
  z-index: -1;
  transition: 0.2s ease-out;
  
  border-radius: 5px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: white;
}

/* section5 end */



/* section6 start */

.form_control{
  /* display: block; */
   
    width: 100%;
    height: 45px;
    padding: 5px 0px;
    color: #333;
    box-shadow: none;
    margin: 5px 0;
    margin-left: 10px;
    border: none;
}

.form_group{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 5px;
}

.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  
}

.inp_button{
  display: inline-block;
    padding: 10px 25px;
    border: none;
    color: #fff;
    background: #ff214f;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 60px;
}


/* section6 end */



/* section7 start */

.back{
  display: flex;
  justify-content: center;
 
}
.mySection{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  
}


.kvadrat3 {
  
  
  
  width: 40px;
  height: 40px;
  background: #ff214f;
float: left;
  transition: 0.2s ease-out;
  transform: rotate(45deg);
  
  border-radius: 5px;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  color: white;
}

.kvadrat3:hover{
  background: white;
  cursor: pointer;
}

.section7_icon{
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  margin-top: 45px;
}

.section7_txt{
  height: 100px;
}

.facebook_icon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000;
  transform: rotate(315deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}



/* section7 end */



